body{
	background: rgb(14, 30, 37);
	font-family: sans-serif;
	color:white;
}
.sample{
	font-size:2.5rem;
	height:60vh;
	display:flex;
	justify-content: center;
	align-items: center;
}
ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
ul li {
	list-style: none;
}
ul li a {
	color:white;
	text-decoration: none;
	font-size:1.5rem;
}